{% extends 'CrudApp/base.html' %}
{% load static %}

{% block content %}

<h1 class="page-header">Persons</h1>
  <table class="table" id="person-table">
    <thead>
      <tr>
        <th>#</th>
        <th>UserName</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for p in person%}
        <tr>
          <td>{{ p.id }}</td>
          <td>{{ p.userName }}</td>
          <td>{{ p.firstName }}</td>
          <td>{{ p.lastName }}</td>
          <td>{{ p.email}}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="7" class="text-center bg-warning">No Person</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="container">

      <button type="button" class="btn btn-primary js-get">GET</button>
      <button type="button" class="btn btn-primary js-post">POST</button>
      <button type="button" class="btn btn-primary js-put">PUT</button>
      <button type="button" class="btn btn-primary js-delete">DELETE</button>

  </div>


    <div class="modal fade" id="modal-book">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'CrudApp/js/persons.js' %}"></script>
{% endblock %}